h1{
    font-size: 30pt;
    color: white;
}

.nav-container{
    background-color: rgb(26, 26, 26);
    padding: 0 3rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    list-style: none;
    color: white;
}

.nav-items li{
    font-size: 16pt;
    padding: 0px 2rem;
}

.nav-items a{
    padding: 8px;
    border-radius: 30px;
    transition: 0.5s;
}

.nav-items a:hover{
    background-color: seagreen;
    padding: 8px;
    cursor: pointer;
    color: white;
}